@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Greet</h1>
    <p>My name is @Model.Name and I am @Model.Age years old. So I know a thing or two about this world. </p>
    @if(Model.FavoritePower == "Confundo")
            {
             <p>Favorite Spell: @Model.FavoritePower</p>
            }
    else
            {
             <p>I don't have a favorite spell - I love them all!</p>
            }
</div>
<p>
    My top powers are:
</p>
<ul>
@foreach(string p in Model.Powers)
        {
            <li>@p</li>
        }
</ul>

